:root {
    --ff-heading: 'merriweatherlight', system-ui, serif;
    --ff-primary: 'merriweather_sanslight', system-ui, sans-serif;

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-1000: hsl(0, 0%, 10%);
    --clr-neutral-1100: hsl(0, 0%, 0%);

    --main-background-color: var(--clr-neutral-100);
    --main-text-color: var(--clr-neutral-1100);
    --main-link-color: var(--clr-neutral-1100);

    --clr-accent-pink: hsl(306, 98%, 76%);
    --clr-accent-orange: hsl(0, 78%, 78%);
    --clr-accent-yellow: hsl(61, 98%, 82%);
    --clr-accent-green: hsl(122, 100%, 75%);
    --clr-accent-blue: hsl(180, 91%, 72%);
    --clr-accent-purple: hsl(284, 86%, 75%);
    --clr-accent-indigo: hsl(275, 55%, 65%);

    --fs-100: 0.75rem;
    --fs-200: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-825: 2.25rem;
    --fs-900: 3rem;
    --fs-1000: 3.375rem;
    --fs-1200: 4rem;
  
    --gap-100: 0.25rem;
    --gap-200: 0.5rem;
    --gap-300: 0.75rem;
    --gap-400: 1rem;
    --gap-500: 1.5rem;
    --gap-600: 2rem;
    --gap-700: 3rem;
    --gap-800: 4rem;
    --gap-900: 6rem;
    --gap-1000: 8rem;
    --gap-1100: 12rem;
    --gap-1200: 16rem;
    --gap-1300: 24rem;
    --gap-1400: 32rem;
    --gap-1500: 40rem;
    --gap-1600: 48rem;
}

@font-face {
    font-family: 'merriweatherregular';
    src: url('/fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatheritalic';
    src: url('/fonts/merriweather-italic-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherlight';
    src: url('/fonts/merriweather-light-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'merriweatherbold';
    src: url('/fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('/fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather_sansregular';
    src: url('/fonts/merriweathersans-regular-webfont.woff2') format('woff2'),
         url('/fonts/merriweathersans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather_sansitalic';
    src: url('/fonts/merriweathersans-italic-webfont.woff2') format('woff2'),
         url('/fonts/merriweathersans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather_sansbold';
    src: url('/fonts/merriweathersans-bold-webfont.woff2') format('woff2'),
         url('/fonts/merriweathersans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather_sanslight';
    src: url('/fonts/merriweathersans-light-webfont.woff2') format('woff2'),
         url('/fonts/merriweathersans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}

html.dark {
    --main-background-color: var(--clr-neutral-1000);
    --main-text-color: var(--clr-neutral-100);
    --main-link-color: var(--clr-neutral-100);
}
  
body {
    min-height: 100svh;
    font-family: var(--ff-primary);
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

img {
    vertical-align: middle;
    max-width: 100%;
    font-style: italic;
    height: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-link-color);
}

a:hover,
a:focus {
    background-color: var(--clr-neutral-1000);
}

a:link,
a:visited {
    color: var(--main-link-color);
}

h1,
h2,
h3 {
    font-family: var(--ff-heading);
}

.content-grid {
    --padding-inline: var(--gap-500);
    --content-max-width: 100ch;

    display: grid;
    grid-template-columns: 
    [full-width-start]
    minmax(var(--padding-inline), 1fr)
    [content-start]
    repeat(10, min((100% - (var(--padding-inline) * 2)) / 10, var(--content-max-width) / 10))
    [content-end]
    minmax(var(--padding-inline), 1fr)
    [full-width-end];
}

.content-grid > :not(.full-width) {
    grid-column: content;
    min-width: 0;
}

.content-grid > .full-width {
    grid-column: full-width;
}