---
import Social from "./Social.astro";
const socials = [{
    platform: 'Github',
    username: 'nicholasboyce',
    TLD: 'com/'
}, {
    platform: 'Frontend Mentor',
    username: 'nicholasboyce',
    TLD: 'io/profile/'
}, {
    platform: 'LinkedIn',
    username: 'nicholasboyce',
    TLD: 'com/in/'
}];
---
<style>
    p {
      text-align: center;
    }
    
    .socials-wrapper {
      display: flex;
      gap: 1rem;
      margin-block: var(--gap-300) var(--gap-600);
      justify-content: center;
      /* width: 80%;
      margin-inline: auto; */
    }
</style>

<footer>
  <p>My Socials:</p>
  <div class="socials-wrapper">{socials.map((media) => <Social platform={media.platform} username={media.username} TLD={media.TLD} />)}</div>
</footer>