---
const { platform, username, TLD, icon } = Astro.props;
---

<style>
  svg {
    fill: var(--clr-neutral-1100);
  }

  html.dark svg {
    fill: var(--clr-neutral-100);
  }
</style>

<a href={`https://www.${platform.replace(' ', '')}.${TLD}${username}`} target="_blank" set:html={icon} aria-label=`Check out my ${platform}`></a>