---
import '../styles/global.css';
import SkipLink from "../components/SkipLink.astro";
import ThemeIcon from '../components/ThemeIcon.astro';
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
const mainContent = 'main-content';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon_headshot.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- <meta name="color-scheme" content="light dark" /> -->
		<title>{pageTitle}</title>
	</head>
	<body class="content-grid">
		<header>
			<SkipLink mainContent={mainContent} />
			<nav>
				<ul class="nav-links">
					<li class="nav-link"><a href="#projects">Projects</a></li>
					<li class="nav-link"><a href="/blog/">Blog</a></li>
					<li class="nav-link"><a href="#about">About</a></li>
					<li>
						<ThemeIcon />
					</li>
				</ul>
			</nav>
		</header>
		<main id={mainContent}>
            <slot/>
        </main>
		<Footer />
	</body>
</html>
<style>
	header {
		position: sticky;
		top: -1px;
		background-color: var(--main-background-color);
	}
	
	.nav-links {
		display: flex;
		padding-block: var(--gap-500);
		align-items: center;
	}

	.nav-link {
		flex: 1;
		text-align: center;
	}

	@media screen and (min-width: 830px) {
		.nav-links {
			padding-block-end: 0;
		}

		.nav-links > li:nth-child(n + 4) {
			margin-inline-start: auto;
		}

		.nav-link {
			flex: none;
			margin-inline-end: var(--gap-500);
		}
	}
</style>
